*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 360px;
    max-width: 100%;
    height: 100vh;
    background-image: url(img/road.png);
    position: relative;
    overflow: hidden;
    padding: 0;
} 
.main{
    width:120px;
    height: 120px;
    background-image: url(img/main.png);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.obstacle{
    width:120px;
    height:120px;
    background-image: url(img/obs.png);
    position: absolute;
    top:-120px;
    left:120px;
}
.coin{
    width:120px;
    height:120px;
    background-image: url(img/coin.png);

    position: absolute;
    top:-120px;
    left:0;
}
.startMenu{
    width:360px;
    max-width: 100%;
    height:100vh;
    background: brown;
    z-index: 1000;
    position: relative;

}
button{
    width:120px;
    height: 50px;
    background-color: rgb(131, 131, 131);
    color: white;
    border:none;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 9999999999;
}
.start{
    animation: slide 1.5s infinite linear;

}
.end{
    z-index: 9999;
    height:100vh;
    width: 360px;
    max-width: 100%;
    background: red;
    display: none;
    position: relative;
}
#left,#right{
    width:50%;
    height:100vh;
    position:absolute;
    /* background-color: green; */
    z-index: 999999;
    visibility: hidden;
}
.end h2{
    margin-top: 30px;
    margin-left: 10px;
}
.end p{
    margin-left: 10px;
}
#right{
    /* background-color: purple; */
    left:50%;
}
@keyframes slide{
    0%{
        top:0px;
    }
    100%{
        top:620px;
    }
}